$gray: #232728;
$white: #fff;
$gold:  #e0b160;
$light_gray: #aaa;

$bg_color: $gray;
$text_color: $white;
$sub_text_color: $light_gray;
$title_color: $gold;
$link_hvr_color: $gold;

$border_color: $gold;