body{
    max-width: $MAX_WIDTH;
    //min-width: $MIN_WIDTH;
    margin: 0 auto;
}



@media (max-width: $MEDIA_WIDTH_SMALL){
    body{
        max-width: $MEDIA_WIDTH_SMALL;
        min-width: 0px;
        
    }
}