.banner-1{
    $bg_yellow: #ffe12f;

    background-color: $bg_yellow;
    background-image: url(../img/bg_banner_1.png);
    box-sizing: border-box;
    display: flex;
    padding: 12px 15px 13px;

    &__img-wrap{
        cursor: pointer;
        margin-right: 43px;
        position: relative;

        &::after{
            background-image: url(../img/cubometria_stik.png);
            content: "";
            display: block;
            height: 119px;
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(41%, -8%);
            transition: transform 0.2s;
            width: 106px;
        }

        &:hover::after{
            transform: scale(1.1) translate(39%, -6%);
        } 
        &:active::after{
            transform: translate(41%, -8%);
        }
    }

    &__content{
    }

}

@media (max-width: 767.98px) {
    .banner-1{
        flex-wrap: wrap;
        justify-content: center;

        &__img-wrap{
            // float: left;
            height: auto;
        }
    }   
}