.cell{
    $bg_clr: #fff;
    $dash_clr: #fbb100;

    display: flex;
    flex-direction: column;
    margin: 0 18px 0 0;

    &:nth-of-type(3){
        margin-right: 0;
    }

    &__number{
        //align-items: center;
        border-radius: 5px;
        background-color: $bg_clr;            
        //display: flex;
        font-family: $umnik;
        font-size: 55px;
        //justify-content: center;
        line-height: 1;
        padding: 0 7px;
        position: relative;
        
        &::before{
            border: 1px dashed $dash_clr;
            content: "";
            position: absolute;
            bottom: 0;
            left:50%;
            top: 0;
            transform: translate(-50%);
        }
    }

    
    &__number-1,
    &__number-2{
        position: relative;
        top: 4px;
    }

    &__number-2{
        margin-left: -3px;
    }


    &__name{
        display: block;
        font-family: $proxima_r;
        font-size: 16px;
        margin-top: 4px;
        text-align: center;
    }
}

@media (max-width: 575.98px) {
    .cell{
        margin: 0 10px 0 0;

        &:nth-of-type(3){
            margin-right: 0;
        }
    }
}

@media (max-width: 767.98px) {
    .cell{
        &__number{
            display: flex;
            padding: 0;
        }
        
        &__number-1,
        &__number-2{
            padding: 0 7px;
        }
    }    
}