@font-face{
    src: url(../fonts/proximanova-regular.woff2);
    font-family: proximanova-regular;
}

@font-face{
    src: url(../fonts/proximanova-bold.woff2);
    font-family: proximanova-bold;
}

@font-face{
    src: url(../fonts/umnik-bold.woff2);
    font-family: umnik-bold;
}

$proxima_r: proximanova-regular, Arial, Helvetica, sans-serif;
$proxima_b: proximanova-bold, Arial, Helvetica, sans-serif;
$umnik: umnik-bold, Arial, Helvetica, sans-serif;