// Палитра
$blue: #00aedb;
$green: #8cc63f;
$violet: #5261ac;
$pink: #ec098d;
$orange: #f78f1d;
$red: #f00;
$gray: #898989;

// Фоновые цвета
$bg_color_body: #ebebeb;
$bg_color_content: #fff;

// Текст
$txt_color_light: #fff;
$txt_color_dark: #494949;
$totle_color_dark: #000;
$title_color_light: #fff;

// Логотип
$logo_color1: $blue;
$logo_color2: $green;

// Поиск
$search_btn_color: $blue;
$search_br_color: #e5e5e5;
$search_br_hov_color: $blue;

// Меню навигации
$bg_color_nav_blue: $blue;
$bg_color_nav_green: $green;
$bg_color_nav_violet: $violet;
$bg_color_nav_pink: $pink;
$bg_color_nav_orange: $orange;
$bg_color_nav_red: $red;
$bg_color_nav_gray: $gray;