.nav{

    &__list{
        background-color: $bg_color_nav_gray;
        display: flex;
        list-style-type: none;
    }

    &__link{
        @include txt($size:18px, $line-height:2, $color: $txt_color_light, $align: center);  
        //display: flex;
        text-transform: uppercase;
        padding: 0 20px;
    }

    &__item{
        
        &:nth-of-type(1){
            background-color: $bg_color_nav_blue;
        }
        &:nth-of-type(2){
            background-color: $bg_color_nav_green;
        }
        &:nth-of-type(3){
            background-color: $bg_color_nav_violet;
        }
        &:nth-of-type(4){
            background-color: $bg_color_nav_pink;
        }
        &:nth-of-type(5){
            background-color: $bg_color_nav_orange;
        }
        &:nth-of-type(6){
            background-color: $bg_color_nav_red;
        }
        &:nth-of-type(7){
            background-color: $bg_color_nav_gray;
        }
    }
}

@media (max-width: 575.98px) { 
 
}

@media (max-width: 767.98px) { 
    .nav{
        &__list{
            flex-direction: column;
        }
        
    }
}

@media (max-width: 991.98px) { 
    .nav{
        &__list{
            flex-wrap: wrap;
        }
        &__link{
            box-sizing: border-box;
            display: block;
            width: 100%;
            //padding: 0 15px;
        }
        &__item{
            flex: 2 0 auto;

            &:nth-of-type(-n+4){
                flex: 1 0 25%;    
            }
        }
    }
}

@media (max-width: 1199.98px) { 

}